<h1>Change Password</h1>


<form action="/auth/editPassword?_method=PUT" method="POST">
    <div>
        <label for="">Old Password</label>
        <input name="oldPassword" type="password">
    </div>

    <div>
        <label for="">Password</label>
        <input name="newPassword" type="password">
    </div>

    <input type="submit" name="" value="Submit Changes"/>
</form>