<form method="POST" action="/auth/signin">
    <div>
        <label for="">Email</label>
        <input name="email" type="email">
    </div>

    <div>
        <label for="">Password</label>
        <input name="password" type="password">
    </div>
    
    <button class="btn btn-auth" type="submit">Sign In</button>
</form>