<div class="container">
    <h1 class="mt-4 mb-3"></h1>

    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-6 art-item">
            <div class="card h-100">

                <form method="POST" action="/artitems/add" enctype="multipart/form-data">
                    <h4 class="card-header text-center">Add Art Item</h4>
                    <div class="card-body">
                        <div class="controls">
                            <label>Image:</label>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" name="imgSrc" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="">Upload</span>
                                </div>
                            </div>
                            <p class="help-block"></p>
                        </div>

                        <!-- <form>
                            <div class="form-group">
                              <label for="exampleFormControlFile1">Example file input</label>
                              <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                          </form> -->

                        <div class="controls">
                            <label>Title:</label>
                            <input type="text" class="form-control" name="name" />
                            <p class="help-block"></p>
                        </div>

                        <div class="controls">
                            <label>Artist:</label>
                            <input type="text" class="form-control" name="artistName" />
                            <p class="help-block"></p>
                        </div>
                        <div class="controls">
                            <label>Description:</label>
                            <textarea name="description" rows="10" cols="100" class="form-control" id="message"
                                maxlength="999" style="resize:none"></textarea>
                            <p class="help-block"></p>
                        </div>
                        <div class="controls">
                            <label>Year:</label>
                            <input type="text" class="form-control" name="year" />
                            <p class="help-block"></p>
                        </div>
                        <div class="controls">
                            <label>Location:</label>
                            <input type="text" class="form-control" name="location" />
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info btn-block" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>